<h2><p>Halaman Profil</p></h2>


<img src="assets/img/rrq.jpeg">
<table class="table" border="4">
    <tbody>
      <tr>
        <th scope="row">Username</th>
      <td><b>ZakyF</b></td>
      </tr>
      <tr>
        <th scope="row">Nama</th>
      <td><b>Muhammad Zaky Fahrezi</b></td>
      </tr>
      <tr>
        <th scope="row">Jenis Kelamin</th>
      <td><b>Laki-Laki</b></td>
      </tr>
      <tr>
        <th scope="row">Kota</th>
      <td><b>Sanggau</b></td>
      </tr>
    </tbody>
  </table>
