<h2><p>Khaizan Tourney</p></h2>

<table class="table" border="4">
    <tbody>
      <tr>
        <th scope="row">Nama Perusahaan</th>
      <td><b>Khaizan</b></td>
      </tr>
      <tr>
        <th scope="row">penjelasan</th>
      <td><b>Khaizan merupakan sebuah platform yang mengadakan tournament mobile legend yang banyak di hadiri oleh tim tim besar, di webste ini anda dapat melihat leaderboard, profile, dan jadwal tournamen </b></td>
      </tr>
      <tr>
        <th scope="row">Tujuan</th>
      <td><b>Tujuan web ini adalah untuk memberitahukan jadawal pertandingan dan hasi point masing masing Team</b></td>
      </tr>
      <tr>
        <th scope="row">manfaat web</th>
      <td><b>untuk membantu orang lain dalam menemukan jadwal pertandingan, serta memberi tahu point yang di dapat oleh tim yang bertanding</b></td>
      </tr>
    </tbody>
  </table>